.wrapper {
  background-image: url("https://wallpapercave.com/wp/wp6351122.jpg");
}
.cont {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-direction: column;
}
.line {
  width: 200px;
  height: 2px;
  background-color: white;
}
.image img {
  width: 150px;
  height: 150px;
  border-radius: 44% 56% 57% 43% / 74% 42% 58% 26%;
  padding: 5px;
  border: white 3px solid;
  /* aspect-ratio: auto 150 / 150; */
}
.Name {
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
}
.ShortDesc {
  color: rgb(131, 131, 131);
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 25px;
  letter-spacing: 5px;
}
.tag {
  font-size: 20px;
  color: white;
}
.editBtn {
  background-color: rgba(255, 255, 255, 0.342);
  border-radius: 5px;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 10px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.colorContainer {
  display: flex;
  gap: 5px;
}
.ColorFrame {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 3px;
}
